@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.prod img{
    width: 172px !important;
    height: 172px !important;
}

.products{
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
}

.products h6{
    padding-top: 10px;
}

h1{
    font-weight: 400 !important;
}

/* general */
.collect h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    font-size: 50px !important;
}


.head-icon{
    display: flex;
    justify-content: space-between;
}

.banner img{
    width: 500px;
    height: 250px;
}

.icons hr{
    width: 10px;
    /* margin-bottom: 10px; */
    /* align-items: flex-start; */
}

.icons{
    display: flex;
    justify-content: center;
}

.icons .bx{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.image img{
    width: 70px;
    height: 50px;
    padding-bottom: 10px;
}



body{
    background-color: black !important;
    font-family: 'Roboto', sans-serif;
}

.header a{
    text-decoration: none !important;
    color: white !important;
}

.footer p, .footer a{
    text-decoration: none !important;
    color: rgb(122, 122, 122) !important;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}



